{% extends 'base.html.twig' %}

{% block body %}

<style>
.cardHeaderBlog {
    height: 250px;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.card-headerimg {
    height: 100%;
    object-fit: cover;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(230,93,76,1) 50%, rgba(255,255,255,1) 100%);
}
.card-category {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    background: #f7f7f7;
    opacity: 0.7;
    padding: 0px 15px;
}
.card-body {
    margin-bottom: 10px;
    flex-shrink: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.5em;
}
.card-title {
    font-weight: bold;
}

</style>

<div class="container">
    <div class="row">
        {% for art in articles %}
            {% if art.isVisible %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top: 10px;">
                    <div class="card">
                        <div class="card-header cardHeaderBlog">
                            <div class="card-img-top card-headerimg"></div>
                            <div class="card-category">
                                <h4>{{ art.category }}</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-title">{{ art.title }}</div>
                            <div class="card-text">{{ art.content }}</div>
                            <p style="font-size:13px;">{{ art.author.lastname }} {{ art.author.firstname }}</p>
                            <a href="/article/{{ art.id }}" class="btn btn-primary">Lire la suite</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
