{% extends 'base.html.twig' %}

{% block title %} Blog_celine - {{ article.title }} {% endblock %}

{% block body %}

<style>
.container-header {
    position: relative;
    margin:0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(230,93,76,1) 50%, rgba(255,255,255,1) 100%);
    height: 80vh;
}
.show-header {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.headTitle {
    height: auto;
    background: white;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
}
.show-details-author {
    text-align: left;
}
.show-details-date {
    text-align: right;
}
.container-content {
    padding: 50px 0;
    margin: 0px 190px;
}
/* media queries */
@media screen and (max-width: 600px) {
    .headTitle {
        width: 100%;
    }
    .container-content {
        padding: 50px 40px;
    }
}
</style>

<div class="container-header">
    <div class="show-header">
        <div class="headTitle">
            <div class="show-title">
                <h2>{{ article.title }}</h2>
            </div>
            <div class="show-details-author">
                <div class="show-author">
                    <p>Créé par {{ article.author.lastname }} {{ article.author.firstname }}</p>
                </div>
            </div>
            <div class="show-details-date">
                <div class="show-date">
                    <p>Le {{ article.postDate|date('d/m/Y') }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container container-content">
    <div class="">
        <div class="">
            <div class="card-text">{{ article.content }}</div>
        </div>
    </div>
</div>

<br/>
<div class="container">
    <h4>Les commentaires</h4>
</div>

{% for comment in comments %}
    <div class="container containerComment">
        <div class="headerComment">
            <p style="font-size:13px;">Ecrit par{{ comment.author.lastname }} {{ comment.author.lastname }}, le {{ comment.created_at|date }}</p>
        </div>
        <div class="bodyComment">
            <p>{{ comment.content }}</p>
        </div>
    </div>
    <div class="container">
        {{ form(form) }}
    </div>

{% else %}
    <div class="container">
        <p>Il n'y a pas encore de commentaire, publiez le premier ! </p>
        {{ form(form) }}
    </div>
{% endfor %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(document).ready(function() {
    $('#comment_content').addClass('form-control');
    $('#comment_envoyer').addClass('btn btn-outline-success');
})
</script>
{% endblock %}